* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100%;
  background-image: url("./img/background.jpg");
  background-size: cover;
}
section {
  background-color: white;
  width: 35%;
  margin: 7vh auto;
  border-radius: 0.75rem;
}
header {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  align-items: center;
  height: 7rem;
  margin-top: 2rem;
}
.circle {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 1.2rem;
}
.dot {
  border-radius: 50%;
  width: 0.4rem;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}
.dot:first-child {
  background: rgba(0, 0, 0, 0.4);
}
.dot:nth-child(2) {
  background: rgba(0, 0, 0, 0.1);
}
.dot:last-child {
  background: rgba(0, 0, 0, 0.1);
}
.logos img {
  height: 4rem;
  padding-left: 2rem;
}
.logos {
  display: flex;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.logos p {
  margin-top: 1.7rem;
  padding-left: 2rem;
}
.check img {
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  padding-left: 10rem;
}
.step {
  background-color: #598bdd;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.step p {
  color: white;
  padding-right: 2rem;
}
